/*
.btn-scrol
{
	
position: absolute;
  top: 18%;
  left:18%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-left:620px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	
}
*/
.btn-scrol
{
	position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%)
}
@media screen and  (max-width: 640px)
{
	.btn-scrol{
		/*
		margin-left:120px;
		position:fixed;
		*/
	   	position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%)
	}
	
}
@media screen and (min-width: 641px) and (max-width: 1280px)
{
	.btn-scrol{
	     position: absolute;
        top: 9%;
        left: 50%;
        transform: translateX(-50%)
	}	
	
}